awscli==1.22.82
pandas==1.4.1
scipy==1.8.0
scikit-learn==1.0.2
seaborn==0.11.2
xlrd==2.0.1
jupyterlab
dask==2022.3.0
distributed==2022.3.0
dask-kubernetes==2022.1.0
dask-ml==2022.1.22
bokeh==2.4.2
pyspark==3.2.1
pyarrow
numpy==1.21
graphviz